{%load static%}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perfil Dream Trip</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{%static 'css/perfil.css' %}" th:href="@{%static 'css/perfil.css' %}">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="{%static 'img/user.png' %}" th:src="@{%static 'img/user.png' %}"/>
                </div>

                {% for cosas in perf %}
                <div id="per_1">
                    <h2> Nombre: {{cosas.nombre}}</h2>
                    <h2> Apellido: {{cosas.apellido}}</h2>
                    <h2> Pais: {{cosas.pais}}</h2>
                    <h2> Email: {{cosas.email}}</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>